.email-index  {
    display: flex;
}
.email-index-aside    {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;

}
.email-index-content  {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
