.home {
    text-align: center;
}

.home h1 {
    font-size: 40px;
    margin: 10px;
}

.home img {
    width: 500px;
}

.fade-out {
    animation: fade-out 3s;
}

@keyframes fade-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
