
.email-preview.notRead {
  font-weight: 600;
  background-color: antiquewhite;
}
.email-subject {
  padding-right: 3rem;
}
.email-body {
  padding-right: 3rem;
}
.email-preview.hover {
  cursor: pointer;
  background-color: rgb(244, 214, 175);
}
.email-btns{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

