
.email-folder-list nav {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.email-folder-list a{
    cursor: pointer;
    display: flex;
    justify-content: start;
    text-decoration: none;
}
.email-folder-list a.active {
    color: rgb(20, 13, 236);
}

